# Practical 2

**Group composition**: 
- Lucie-Marie &bull; [lucie-marie.boschiancampaner@ensiie.fr](mailto:lucie-marie.boschiancampaner@ensiie.fr)
- Khalil BATTIKH &bull; [khalil.battikh@ensiie.fr](mailto:khalil.battikh@ensiie.fr)
- Lucas RODRIGUEZ &bull; [lucas.rodriguez@ensiie.fr](mailto:lucas.rodriguez@ensiie.fr)

**Group ID**: 12

**Author**: *Lucas RODRIGUEZ*

## First steps

In [6]:
# Importing the necessary libraries
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# Setting up a fixed random seed for experiment purposes
np.random.seed(1)

The chosen dataset is the following : **Air Quality**.

- Link of the dataset description: https://archive.ics.uci.edu/ml/datasets/Air+Quality
- Direct link to the dataset: https://archive.ics.uci.edu/ml/machine-learning-databases/00360/


**Selected strategy** : The given dataset offers a lot of features and observations. However, a lot of irregularities have been detected by us. We have to perform heavy transformations on the dataset using pre-processing operations.

To do so, we can first think about using Numpy, for matrix-based manipulations. However, we have decided to use Pandas to deal with tabular data more easily then convert the output version into a Numpy matrix as input for our NN model.

In [19]:
# Importing the given dataset
file_name = "data/AirQualityUCI.csv"
df = pd.read_csv(filepath_or_buffer=file_name,
                sep=";",
                index_col="Date",
                na_values=np.nan)

In [22]:
# Some informations about the different columns composing the csv file
df.info()

# General shape of the DataFrame
df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 9471 entries, 10/03/2004 to nan
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time           9357 non-null   object
 1   CO(GT)         9357 non-null   object
 2   PT08.S1(CO)    9357 non-null   float64
 3   NMHC(GT)       9357 non-null   float64
 4   C6H6(GT)       9357 non-null   object
 5   PT08.S2(NMHC)  9357 non-null   float64
 6   NOx(GT)        9357 non-null   float64
 7   PT08.S3(NOx)   9357 non-null   float64
 8   NO2(GT)        9357 non-null   float64
 9   PT08.S4(NO2)   9357 non-null   float64
 10  PT08.S5(O3)    9357 non-null   float64
 11  T              9357 non-null   object
 12  RH             9357 non-null   object
 13  AH             9357 non-null   object
 14  Unnamed: 15    0 non-null      float64
 15  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(6)
memory usage: 1.2+ MB

(9471, 16)

The dataset initially contains 9471 rows and 16 columns.

In [24]:
# A quick overview of the dataset structure
df.head(8)

                Time CO(GT)  PT08.S1(CO)  ...      AH Unnamed: 15  Unnamed: 16
Date                                      ...
10/03/2004  18.00.00    2,6       1360.0  ...  0,7578         NaN          NaN
10/03/2004  19.00.00      2       1292.0  ...  0,7255         NaN          NaN
10/03/2004  20.00.00    2,2       1402.0  ...  0,7502         NaN          NaN
10/03/2004  21.00.00    2,2       1376.0  ...  0,7867         NaN          NaN
10/03/2004  22.00.00    1,6       1272.0  ...  0,7888         NaN          NaN
10/03/2004  23.00.00    1,2       1197.0  ...  0,7848         NaN          NaN
11/03/2004  00.00.00    1,2       1185.0  ...  0,7603         NaN          NaN
11/03/2004  01.00.00      1       1136.0  ...  0,7702         NaN          NaN

[8 rows x 16 columns]

## Data pre-processing

In [3]:
import missin

## NN model